<md-sidenav-container fullscreen>
    <md-toolbar (click)="isTlbOpen = isTlbClose;">
        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-around center" style="box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.24);height:56px" id="floating-toolbar">
          <div fxFlex="70%" class="marginRight-logo">
            <p class="admin_name">
                <img src="">
            </p>
          </div>
        </div>
    </md-toolbar>
    <md-sidenav  #sidenav mode="side" opened="true" class="app-sidenav" [ngClass]="{'tlb-open': isTlbOpen}">
      <div fxLayout="row" class="logo-div" (click)="isTlbOpen = !isTlbOpen;">
        <div class="site-logo">
          <div id="menu" class="menu btn12">
            <div class="icon"></div>
          </div>
        </div>
        <p class="admin_name" style="font-size:16px;padding-left: 1.1em;">
          <!-- <img src="image/sherlock-logo_F9_sm.png"> -->
          Logo
        </p>
      </div>
      <md-list class="md-list" style="padding-top: 0px; position: relative; left: -2.5em;width:290px;">
            <nav class="vertical">
              <ul>
                <li>
                  <md-list-item>
                    <div class="linkIcon1" style="width: 20px;">
                      <md-icon class="linkIcon1">
                        feedback
                      </md-icon>
                    </div>
                    <h4 (click)="isTlbOpen = !isTlbOpen;" style="margin-left: 23px;">service</h4>
                  </md-list-item>
                </li>
                <li>
                  <md-list-item>
                    <md-icon class="linkIcon1 disable">
                        info
                    </md-icon>
                    <h4 (click)="isTlbOpen = !isTlbOpen;">Status</h4>
                  </md-list-item>
                </li>
                <li>
                  <md-list-item>
                    <md-icon class="linkIcon1">home</md-icon>
                    <h4 (click)="isTlbOpen = !isTlbOpen;">Help</h4>
                  </md-list-item>
                </li>
                <li>
                  <md-list-item>
                    <md-icon class="linkIcon1">
                        feedback
                    </md-icon>
                    <h4 (click)="isTlbOpen = !isTlbOpen;">Service 2</h4>
                  </md-list-item>
                </li>
                <li>
                  <md-list-item>
                    <md-icon class="linkIcon1 disable">
                        shopping_cart
                    </md-icon>
                    <h4 (click)="isTlbOpen = !isTlbOpen;">About us</h4>
                  </md-list-item>
                </li>
              </ul>
            </nav>
        </md-list>
    </md-sidenav>
    <div class="main-router-ipad" (click)="isTlbOpen = isTlbClose;" class="marginRight" [ngClass]="{
     'main-router':service.ui({n:'sidenav'}), 'main-router-main':!service.ui({n:'sidenav'}), 'marginRight_main':!service.ui({n:'sidenav'})}">
        <router-outlet>
        </router-outlet>
    </div>
</md-sidenav-container>
