nav.vertical {
  position: relative;
}
.marginRight-logo {
  margin-left: 4.3em!important;
}
nav.vertical ul {
  list-style: none;
  margin: 0px;
}
nav.vertical li {
  position: relative;
}
nav.vertical a {
  display: block;
  color: #eee;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.3s;
}
nav.vertical li:hover>ul {
  max-height: 500px;
  transition: max-height 0.35s ease-in;
}
.disable {
  opacity: 0.6;
  filter: alpha(opacity=40);
}
.menu {
  width: 20px;
}
.mat-sidenav-backdrop.mat-sidenav-shown {
  visibility: hidden;
}

