<div class="main-dashboard" fxLayout="column">
  <div fxLayout="row">
    <div fxLayoutAlign="start" fxFlex><h4>Hello , Daliya</h4></div>
    <div fxLayoutAlign="end">
      <md-icon style="margin-top: 19px;">power_settings_new</md-icon>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">
    <div fxFlex>
      <md-card><app-barchart></app-barchart></md-card>
    </div>
    <div fxFlex>
      <md-card><app-chart1></app-chart1></md-card>
    </div>
    <div fxFlex>
      <md-card><app-chart2></app-chart2></md-card>
    </div>
    <div fxFlex>
      <md-card><app-chart3></app-chart3></md-card>
    </div>
  </div>

  <div fxLayout="row">
    <md-card><app-areachart></app-areachart></md-card>
  </div>

</div>

