<div class="main-dashboard" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="24" fxFlex.sm="48">
      <md-card>
        <app-barchart></app-barchart>
      </md-card>
    </div>
    <div fxFlex="24" fxFlex.sm="48">
      <md-card>
        <app-chart1></app-chart1>
      </md-card>
    </div>
    <div fxFlex="24" fxFlex.sm="48">
      <md-card>
        <app-chart2></app-chart2>
      </md-card>
    </div>
    <div fxFlex="24" fxFlex.sm="48">
      <md-card>
        <app-chart3></app-chart3>
      </md-card>
    </div>
  </div>
  <div fxLayout="row" class="card-space">
    <div fxFlex="100">
      <md-card>
        <app-areachart></app-areachart>
      </md-card>
    </div>
  </div>
  <div fxLayout="row" class="card-space">
    <div fxFlex="100">
      <md-card>
        <app-linechart></app-linechart>
      </md-card>
    </div>
  </div>
</div>
