/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
body {
  margin: 0px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.main-router {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-router-main {
  height: 100% !important;
  margin-top: 0 !important;
  overflow: auto;
  background: rgb(23, 28, 48);
}
.app-sidenav {
  width: 199px;
  background: rgb(38, 45, 71)!important;
  transition: 0.2s !important;
  transition-timing-function: linear !important;
}
.app-sidenav h4 {
  color: rgba(250, 242, 242, 0.73);
  font-size: 15px;
  margin-left: 20px;
  font-weight: normal;
}
.mat-sidenav {
  width: 52px;
  cursor: pointer;
  min-width: 0px !important;
  overflow: hidden;
}
.mat-sidenav .linkIcon1 {
  font-size: 23px !important;
  color: rgba(255, 255, 255, 0.54);
}

.tlb-open {
  width: 175px;
}

.tlb-close {
  width: 58px;
}

.tlb-open h4 {
  display: block;
}
.mat-sidenav-transition .mat-sidenav-content {
  transition-duration: .2s !important;
  transition-timing-function: linear !important;
}
.mat-sidenav .mat-list .mat-list-item:hover {
  background: rgba(23, 28, 48, 0.52);
  width: 250px;
}

.app-sidenav .mat-list .mat-list-item .mat-list-item-content,
.app-sidenav .mat-nav-list .mat-list-item .mat-list-item-content {
    height: 53px!important;
}

.admin_name img .tlb-open {
  width: 123px;
  height: 123px;
  margin-left: 25px;
}



@media (min-width: 740px) and (max-width: 888px) {
    .mat-list .mat-list-item .mat-list-item-content {
        padding: 0px 7px 0px 7px;
    }
    .main-router-main {
        max-height: 100% !important;
        height: initial !important;
        overflow: auto !important;
    }
}

@media (min-width: 490px) and (max-width: 790px) {
    .main-router-main {
        max-height: 100% !important;
        height: initial !important;
        overflow: auto !important;
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .main-router-ipad {
        height: 100vh;
    }
}
.overlay-none {
    display: none;
}
